<!DOCTYPE html>
<html>
<head>
<title>Projet IoT</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
</head>
<body>


<p>Salle 324</p>
<canvas id="myCanvas" width="863" height="490" style="border:1px solid #d3d3d3;">
</canvas>

<script>
  window.onload = function() {
  var ctx = document.getElementById("myCanvas").getContext("2d");
  var img = document.getElementById("carte");
  var x0 = 85 + 49 * {{x}}; // 
  var y0 = 410 - 49 * {{y}};

  // 3AC3
  var x1 = 85 + 49 * 2; 
  var y1 = 410 - 49 * 1;
  var r1 = 49 * {{r1}};

  // 3ACB
  var x2 = 85 + 49 * 13;
  var y2 = 410 - 49 * 6;
  var r2 = 49 * {{r2}};

  // BF94
  var x3 = 85 + 49 * 12;
  var y3 = 410 - 49 * 1;
  var r3 = 49 * {{r3}};

  ctx.drawImage(img, 0, 0);

  ctx.fillStyle = "red";
  ctx.rect(x0, y0, 10, 10);
  ctx.fill();

  ctx.font = "Bold Italic 15px Arial ";
  ctx.fillStyle = "blue";
  //ctx.textAlign = "center"
  ctx.fillText("X", x0, y0); 

  ctx.moveTo(x1 + r1, y1);
  ctx.arc(x1, y1, r1, 0, 2 * Math.PI);
  ctx.moveTo(x2 + r2, y1);
  ctx.arc(x2, y2, r2, 0, 2 * Math.PI);
  ctx.moveTo(x2 + r1, y1);
  ctx.arc(x3, y3, r3, 0, 2 * Math.PI);
  ctx.stroke();
  }

</script>
<img id="carte" width="0" height="0" src="/image/Esclangon324.png"></img>
</body>
</html>